@charset "UTF-8";

body{
    background-image: url("../imagens/1092587.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 2000px;
}
header{
    padding-top: 45px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
}
header a{
    padding: 30px;
    text-decoration: none;
    color: #fff;
}
header a:hover{
    text-decoration: underline;
}
header p{
    padding-left: 100px;
}
strong h1{
    padding-left: 30px;
    padding-top: 10vh;
    margin-bottom: 0px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
}
strong p{
    padding-left: 30px;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif   ;
    font-weight: lighter;
}
img{
    width: 250px;
}
